* {
  padding: 0;
  margin: 0;
  background-color: rgb(23, 33, 85);
  box-sizing: border-box;
}

script {
  display: none;
}

form {
  padding: 3rem;
  text-align: center;
  background-color: rgb(9, 19, 68);
}

option {
  background-color: grey;
}

#instruction {
  background-color: rgb(9, 19, 68);
  padding-bottom: 1rem;
  color: white;
}

#movieSelect {
  background-color: grey;
  border-color: white;
}

#getButton {
  background-color: grey;
  border-color: white;
}

/* /////////////////////// */

.tile {
  display: flex;
  padding: 1rem;
  margin: 10vw;
  margin-top: 5vw;
}

.tile img {
  height: 40rem;
  padding: 1rem;
  background-color: darkgray;
}

.tile h1 {
  padding: 0.5rem;
  margin: 1rem;
  color: white;
}

.tile h3 {
  padding: 0.5rem;
  color: white;
  margin: 1rem;
}

.tile h4 {
  line-height: 2;
  color: white;
  padding: 0.5rem;
  margin: 1rem;
}

.tile button {
  background-color: rgb(209, 203, 203);
  margin-left: 1.5rem;
  padding: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
