* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: bisque;
}

#main {
  display: grid;
  grid-template-rows: 4;
}

#header {
  background-color: rgb(23, 29, 87);
  color: white;
  text-align: center;
  padding: 3rem;
}

#header h1 {
  background-color: rgb(23, 29, 87);
}

#yueko_ {
  display: grid;
  grid-template-rows: 2, 15rem, 20rem;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  border-style: 1px solid black;
  margin-bottom: 1rem;
}

#yueko_ .artist {
  grid-column: 1 / span 3;
  grid-row: 1;
  text-align: center;
  border-radius: 5px;
  height: 100px;
  width: 200px;
  margin-top: 1rem;
}

#yueko_ img {
  grid-row: 2 / span 4;
  grid-row-start: 2;
  height: 300px;
  margin: 10px;
}

#yueko_ p {
  text-align: center;
}


/* #Rrrrrrice0303 {

} */

/* 
.artist {
  border: solid 2px black;
  margin-bottom: 5px;
} */