* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: bisque;
}

#main {
  display: grid;
  grid-template-rows: 4;
}

#header {
  background-color: rgb(23, 29, 87);
  color: white;
  text-align: center;
  padding: 3rem;
}

#header h1 {
  background-color: rgb(23, 29, 87);
  font-size: 35px;
}

#header p {
  background-color: rgb(23, 29, 87);
  font-size: smaller;
}

.artist{
  display: grid;
  grid-template-rows: 2, 15rem, 20rem;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  margin-bottom: 1rem;
}

.profile{
  grid-column: 1 / span 3;
  grid-row: 1;
  text-align: center;
  background-color: hsl(240, 7%, 78%);
  border-radius: 10px;
  height: 100px;
  width: 75%;
  margin: 1rem;
}

.profile h1 {
  background-color: hsl(240, 7%, 78%);
  border-radius: 10px;
  padding-top: 10px;
}

.profile a {
  background-color: hsl(240, 7%, 78%);
}

img {
  grid-row: 2 / span 4;
  grid-row-start: 2;
  height: 300px;
  margin: 10px;
}

.tile {
  margin: 1rem;
  background-color: gray;
}

.tile p {
  text-align: center;
}

