* {
  padding: 0;
  margin: 0;
  background-color: rgb(23, 33, 85);
  box-sizing: border-box;
}

script {
  display: none;
}

form {
  padding: 3rem;
  text-align: center;
  background-color: rgb(9, 19, 68);
  font-size: 150%;
}

option {
  background-color: rgb(170, 170, 170);
}

#instruction {
  background-color: rgb(9, 19, 68);
  padding-bottom: 1rem;
  color: white;
}

#movieSelect {
  background-color: rgb(170, 170, 170);
  border-color: white;
  font-size: 60%;
  padding: 0.15rem;
}

#getButton {
  background-color: rgb(170, 170, 170);
  border-color: white;
  font-size: 60%;
  padding: 0.15rem;
}

/* /////////////////////// */

.movieTile {
  display: flex;
  padding: 1rem;
  margin: 10vw;
  margin-top: 5vw;
}

.movieTile img {
  height: 40rem;
  padding: 1rem;
  background-color: darkgray;
}

.movieTile h1 {
  padding: 0.5rem;
  padding-top: 0;
  margin: 1rem;
  margin-top: 0;
  color: white;
  font-size: 300%;
}

.movieTile h3 {
  line-height: 2;
  color: white;
  padding: 0.5rem;
  margin: 1rem;
}

.movieTile button {
  background-color: rgb(209, 203, 203);
  margin-left: 1.5rem;
  padding: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
